/* 
    CSS Guide 

    1.  GENERAL STYLES

    2.  HEADER

    3.  SECTION 1 - Event
        3a. Hero Banner
        3b. Intro Video
        3c. Event Info

    4.  SECTION 2 - Course
        4a. Project Exhibit
        4b. Testimonials
        4c. Course Info
    
    5.  SECTION 3 - Student
        5a. Featured Work
        5b. Student Portfolios
        5c. Developer Portfolios

    6.  THANK YOU

    7.  FOOTER
*/

/* 1. GENERAL STYLES */

/* Thin (100) */
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Thin.otf') format('opentype'),
         url('../fonts/Metropolis-Thin.woff') format('woff'),
         url('../fonts/Metropolis-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

/* Regular (400) */
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Regular.otf') format('opentype'),
         url('../fonts/Metropolis-Regular.woff') format('woff'),
         url('../fonts/Metropolis-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* Medium (500) */
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Medium.otf') format('opentype'),
         url('../fonts/Metropolis-Medium.woff') format('woff'),
         url('../fonts/Metropolis-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

/* SemiBold (600) */
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-SemiBold.otf') format('opentype'),
         url('../fonts/Metropolis-SemiBold.woff') format('woff'),
         url('../fonts/Metropolis-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

/* Bold (700) */
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Bold.otf') format('opentype'),
         url('../fonts/Metropolis-Bold.woff') format('woff'),
         url('../fonts/Metropolis-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* Extra Bold (800) */
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-ExtraBold.otf') format('opentype'),
         url('../fonts/Metropolis-ExtraBold.woff') format('woff'),
         url('../fonts/Metropolis-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

/* Black (900) */
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Black.otf') format('opentype'),
         url('../fonts/Metropolis-Black.woff') format('woff'),
         url('../fonts/Metropolis-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

.hidden {
    display: none;
}

img, embed, object, video, picture {
    max-width: 100%; 
}
  
html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box; 
    background-color: #F5F5F5;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body, button {
    font-family: 'Metropolis', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

#mobile-break {
    display: block;
}

/* 2. HEADER */

#banner {
    background-color: #B5262D;
    color: white;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: left;
    padding: 0px 25px;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    box-sizing: border-box;
    z-index: 10;
}

#right-banner img, #right-banner p {
    display: none;
}

/* 3. SECTION 1 - Event */

/* 3a. Hero Banner */

#hamburger-menu {
    cursor: pointer;
    width: 30px;
    height: 24px;
    position: absolute;
    top: 70px;
    right: 20px;
    z-index: 3;
}

#hamburger-menu div {
    width: 100%;
    height: 4px;
    background-color: #BA3026;
    position: absolute;
    transition: 0.4s ease-in-out;
    border-radius: 3px;
}

#line1 { 
    margin: 0;
}

#line2 { 
    margin-top: 10px; 
}

#line3 { 
    margin-top: 20px; 
}

.activate #line1 {
    transform: rotate(45deg) translate(7px, 7px);
}

.activate #line2 {
    opacity: 0;
}

.activate #line3 {
    transform: rotate(-45deg) translate(7px, -7px);
}

#full-menu {
    display: none;
}

#mobile-menu {
    display: none;
    background-color: rgba(255, 255, 255, 0.8);
    top: 115px;
    padding: 25px 0;
    position: absolute;
    z-index: 2;
    border: #707070 0.5px solid;
    border-radius: 0;
    left: 0;
    right: 0;
}

#mobile-menu ul {
    margin: 0;
    padding: 0;
}

#mobile-menu.show {
    display: block;
}

.mobile-menu-item {
    font-size: 30px;
    font-weight: 700;
    position: relative;
    cursor: pointer;
    padding: 12px 30px;
}

.mobile-menu-item  a {
    width: 100vw;
    display: block;
}

.mobile-menu-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: #BC2519;
    transition: 0.3s ease;
    z-index: -1;
    width: 100%;
}

.mobile-menu-item:hover {
    color: white;
}

.mobile-menu-item:hover::before {
    left: 0;
}

@keyframes fadeIn {
    0% { 
        opacity: 0; 
    }
    100% { 
        opacity: 1; 
    }
}

#mobile-menu.show .mobile-menu-item  {
    animation: fadeIn 0.5s ease-in-out forwards;
    opacity: 0;
}

#mobile-menu.show .mobile-menu-item:nth-child(1) { 
    animation-delay: 0.1s; 
}

#mobile-menu.mobile-menu-item:nth-child(2) { 
    animation-delay: 0.2s; 
}

#mobile-menu.mobile-menu-item:nth-child(3) { 
    animation-delay: 0.3s; 
}

#hero-banner {
    background-image: url("../images/grey-background.png");
    background-size: cover;
}

#hero-con {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#hero-logo {
    width: 100%;
    opacity: 0.5;
}

#hero-title {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hero-title h3 {
    font-weight: 900;
    letter-spacing: 3px;
    color: #1D1D1D;
    font-size: 20px;
    text-align: center;
}

#hero-title span:first-of-type {
    margin-top: 5px;
    display: block;
}

#hero-title span {
    color: #B5262D;
    font-size: 35px;
}

#hero-text {
    text-align: center;
    color: #1D1D1D;
    font-size: 25px;
    font-weight: 700;
    margin-top: -140px;
}

#hero-text span {
    color: #B5262D;
}

#hero-text button {
    margin-top: 0;
    padding: 15px 65px;
}

/* 3b. Intro Video */

#scroll-con {
    background-color: #160305;
    overflow: hidden;
    color: white;
    font-weight: 500;
    font-size: 10px;
    margin-top: 30px;
    white-space: nowrap;
    padding: 20px;
}

#scroll-text {
    display: inline-block;
    animation: scrollingText 30s linear infinite;
}

#scroll-text span {
    display: inline-block;
    padding-right: 20px;
}

@keyframes scrollingText {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

#event-video-con {
    display: flex;
    justify-content: center;
}

.plyr--video {
    width: 90vw;
    margin: 0 auto;
    margin-top: 30px;
    --plyr-color-main: #BC2519;
    --plyr-control-icon-size: 15px;
    --plyr-control-radius: 20px;
    --plyr-font-family: Metropolis, sans-serif;
    --plyr-control-spacing: 15px;
}

/* 3c. Event Info */

#event-info {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#trophy-logo {
    width: 85vw;
    margin-top: 30px;
}

#event-info-heading {
    margin-top: 0;
}

#event-info-text p {
    font-size: 13px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}

#address {
    margin-top: 20px;
    font-weight: 700;
    font-size: 11px;
    width: 60vw;
}

#event-map {
    margin: 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#event-map span {
    font-size: 11px;
    text-align: center;
    display: block;
    margin-top: 10px;
}

.section-headings {
    font-size: 35px;
    font-weight: 800;
    color: #1D1D1D;
    text-align: center;
    margin-bottom: 0;
}

.section-headings span {
    color: #BA3026;
}

.section-subheadings {
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
}

.event-card {
    position: relative;
    color: white;
    border-radius: 15px;
    overflow: hidden;
    width: 70vw;
    height: 475px;
    min-width: 300px;
    max-width: 70vw;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    display: none;
}

#event-card-wrapper {
    position: relative;
}

#event-next-btn {
    right: -40px;
    top: 40%;
}

#event-prev-btn {
    left: -40px;
    top: 40%;
}

.event-card-con {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 40px;
    background-color: #1D1D1D;
    padding: 20px;
}

.event-heading-con {
    display: flex;
    align-items: center;
}

.event-number {
    color: #BA3026;
    font-size: 60px;
    font-weight: 800;
    margin-left: 10px;
    margin-right: 20px;
}

.event-heading {
    font-size: 22px;
    font-weight: 800;
    margin: 0;
}

.event-text {
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}

.event-time {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #BA3026;
    padding: 15px;
    font-size: 22px;
    font-weight: 900;
    text-align: center;
}

#event-stats-con {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: -40px;
}

.event-stats {
    display: flex;
    align-items: center;
    color: #1D1D1D;
    margin-top: 30px;
}

.stats-number {
    color: #BA3026;
    font-size: 50px;
    font-weight: 900;
    width: 100px;
    text-align: center;
    margin-right: 50px;
}

.stats-text {
    font-size: 20px;
    font-weight: 600;
}

/* 4. SECTION 2 - Course */

/* 4a. Project Exhibit */

.project-card {
    border-radius: 25px;
    position: relative;
    max-width: 70vw;
    min-width: 300px;
    height: 478px;
    border-radius: 20px;
    overflow: hidden;
    margin: 30px auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-color: #1D1D1D;
    display: none;
}

.project-card img {
    position: absolute;
}

.project-placement {
    background-color: #BA3026;
    color: #FFFFFF;
    position: absolute;
    top: 45%;
    font-size: 26px;
    font-weight: 800;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-top: 0;
}

.project-names {
    position: absolute;
    color: white;
    font-size: 20px;
    padding: 20px 25px;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
}

#finalists-wrapper {
    position: relative;
    padding: 0;
}

#finalists-next-btn {
    right: -25px;
    top: 50%;
}

#finalists-prev-btn {
    left: -25px;
    top: 50%;
}

#honour-wrapper {
    position: relative;
    padding: 0;
}

#honour-next-btn {
    right: -25px;
    top: 50%;
}

#honour-prev-btn {
    left: -25px;
    top: 50%;
}

body {
    margin: 0;
  }
  
  #scroll-images-con {
    position: relative;
    width: 100vw;
    background-color: #333;
    overflow: hidden;
    z-index: 1;
    margin: 0;
    padding: 0;
  }
  
  #scroll-images {
    overflow: hidden;
    height: 100%;
    white-space: nowrap;
    animation: scrollText 10s infinite linear;
    margin: 0;
    font-size: 0;
    display: flex;
    justify-content: space-between;
    width: fit-content;
  }
  
  #scroll-images img {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: white;
  }
  
  @keyframes scrollText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  

#project-exhibit {
    margin-top: 100px;
}

#project-heading h4 {
    text-align: center;
    margin: 10px 0 15px 0;
    font-size: 20px;
}

#project-text h4 {
    font-size: 30px;
    font-weight: 800;
    margin: 30px 0 25px 0;
}

#project-photo {
    margin: 0 auto;
    margin-top: 20px;
    width: 80vw;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

#project-text {
    font-size: 13px;
    width: 80vw;
    margin: 0 auto;
}

#project-goals {
    width: 80vw;
    margin: 0 auto;
}

#project-goals h4 {
    font-size: 30px;
    font-weight: 800;
}

.goals-con {
    display: flex;
    padding-bottom: 40px;
    padding-right: 25px;
}

.goals-con:last-of-type {
    padding-bottom: 10px;
}

.goal-number {
    font-size: 20px;
    font-weight: 800;
    color: #1D1D1D;
    text-align: right;
    flex-shrink: 0;
    width: 30px;
}

.goal-text {
    font-size: 15px;
    color: #1D1D1D;
    margin-left: 50px;
    line-height: 1.3;
}

.goal-text span {
    color: #B5262D;
    font-weight: 900;
}

#goals-button {
    margin: 0 auto;
}

/* 4b. Testimonials */

#testimonial-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

#testimonial-heading {
    white-space: nowrap;
}

.testimonial-card {
    color: white;
    background: linear-gradient(to bottom, #535353, #616161 60%, #9A9A9A);
    margin: 20px;
    border-radius: 20px;
    padding: 32px;
    min-width: 300px;
    max-width: 70vw;
    height: 372px;
}

.testimonial-image {
    width: 102px;
    margin-left: -5px;
    margin-top: 5px;
}

.testimonial-name {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 0px;
}

.testimonial-job {
    font-size: 15px;
    margin-top: 0px;
}

.testimonial-text {
    margin-top: 20px;
    font-size: 12px;
}

#testimonial-next-btn {
    right: -20px;
    top: 40%;
}

#testimonial-prev-btn {
    left: -20px;
    top: 40%;
}

.arrow {
    color: #1D1D1D;
    top: 45%;
    font-size: 40px;
    cursor: pointer;
    position: absolute;
}

.arrow:hover {
    color: #B5262D;
}

/* 4c. Course Info */

#course-info-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#course-info-con img {
    width: 80vw;
    margin: 25px 0;
    border-radius: 25px;
}

.course-text {
    font-size: 13px;
    width: 80vw;
    margin: 7px;
}

.main-buttons {
    margin: 40px 0px;
    border-radius: 35px;
    border: none;
    background-color: #BC2519;
    padding: 15px 50px;
    font-size: 15px;
    font-weight: 700;
    color: white;
}

/* 5. SECTION 3 - Student */

/* 5a. Featured Work */

.featured-work-card {
    position: relative;
    width: 311px;
    height: 478px;
    border-radius: 25px;
    overflow: hidden;
    margin: 30px auto;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.featured-work-image {
    position: absolute;
    top: 0;
}

.featured-work-content {
    position: absolute;
    top: 45%;
    bottom: 0;
    background: white;
    padding: 25px;
    text-align: center;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.featured-work-heading {
    font-size: 25px;
    font-weight: 800;
    text-align: left;
    margin: 0;
}

.featured-work-subheading {
    font-size: 13px;
    font-weight: 700;
    color: #BC2519;
    margin: 0;
    text-align: left;
}

.featured-work-text {
    font-size: 13px;
    text-align: left;
}

.featured-work-button {
    color: white;
    font-size: 15px;
    font-weight: 600;
    background-color: #BA3026;
    border: none;
    border-radius: 35px;
    padding: 12px 35px;
    align-self: center;
    margin-top: auto; 
    margin-bottom: 10px;
}

/* 5b. Student Portfolios */

#portfolio-background {
    background: radial-gradient(circle, #A7A7A7 0%, #6E6E6E 25%, #444444 100%);
    margin-top: 50px;
}

.portfolio-headings h3 {
    color: white;
    font-size: 30px;
    margin: 80px auto 100px auto;
    width: 100%;
}

#student-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

#student-grid div {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 2px solid white;
}

#student-grid div a {
    font-size: 18px;
    font-weight: 700;
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

/* 5c. Developer Portfolios */

#developer-portfolios {
    padding-bottom: 100px;
}

#developer-grid div {
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid white;
    width: 85vw;
}

#developer-grid div p {
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 0;
    margin-right: auto;
}

#developer-grid div button {
    font-size: 20px;
    font-weight: 700;
    background-color: #D03A29;
    color: white;
    border: none;
    width: 50%;
    height: 50px;
    cursor: pointer;
}

/* 6. THANK YOU */

#thankyou {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/grey-background.png");
    background-size: cover;
    margin: 50px 0;
}

#trophy-logo-stand {
    margin-top: 60px;
    width: 85vw;
}

#social-media p {
    text-align: center;
    font-weight: 700;
    color: #1D1D1D;
    font-size: 20px;
    line-height: 1.3;
}

#social-media p span {
    color: #BC2519;
}

#sm-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 30px 0;
}

#sm-icons a img {
    height: 20px;
    width: 100%;
}

#thankyou-fanshawe h3 {
    font-weight: 900;
    letter-spacing: 3px;
    color: #1D1D1D;
    font-size: 20px;
    text-align: center;
    margin-top: -20px;
}

#thankyou-fanshawe span {
    color: #B5262D;
    font-size: 35px;
}

/* 7. FOOTER */

footer {
    background-color: #C92B1F;
    color: white;
    text-align: center;
}

#footer {
    margin: 50px 0;
}

#footer-menu {
    list-style-type: none;
    padding: 0;
    display: block;
}

#footer-menu a {
    font-size: 25px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#footer img {
    margin-top: 50px;
}

#footer p {
    font-size: 13px;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 20px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {

    #hamburger-menu {
        display: none;
    }

    #mobile-menu {
        display: none;
    }

    #full-menu {
        position: absolute;
        right: 30px;
        display: block;
    }

    #full-menu ul {
        display: flex;
        flex-direction: row;
        gap: 60px;
        margin-top: 30px;
    }

    .full-menu-item {
        color: #1D1D1D;
        font-size: 18px;
        font-weight: 700;
        list-style-type: none;
    }

    #banner {
        justify-content: space-between;
        font-size: 16px;
    }
    
    #right-banner p {
        display: block;
    }

    #scroll-con {
        padding: 30px;
        font-size: 15px;
        margin-top: -60px;
    }

    #event-stats-con {
        flex-direction: row;
    }

    .event-stats {
        margin-right: 50px;
    }

    .event-stats:first-of-type {
        margin-left: 50px;
    }

    .stats-text {
        font-size: 15px;
    }

    .stats-number {
        width: 100%;
        margin-right: 20px;
    }

    #student-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        margin-left: 30px;
        margin-right: 30px;
    }

    #footer-menu {
        display: none;
    }

    #footer img {
        margin-top: 0;
        width: 30%;
    }
     
    #footer p {
        margin-top: 30px;
        width: 100%;
        font-size: 15px;
    }
    
    #trophy-logo-stand {
        width: 75vw;
    }
    
    #social-media p {
        font-size: 30px;
    }
    
    #sm-icons {
        gap: 50px;
        margin: 50px 0;
    }
    
    #sm-icons a img {
        height: 30px;
    }
    
    #thankyou-fanshawe h3 {
        font-size: 40px;
        margin-top: -20px;
    }
    
    #thankyou-fanshawe span {
        font-size: 75px;
    }

    .section-headings {
        font-size: 45px;
    }

    .section-subheadings {
        font-size: 20px;
        margin-top: 10px;
    }

    .portfolio-headings h3 {
        font-size: 45px;
        width: 100%;
    }
    
    #student-grid div a {
        font-size: 25px;
    }

    #developer-grid div {
        margin: 50px 30px 0 30px;
        width: auto;
    }

    #developer-grid div button {
        height: 78px;
    }
    
    #developer-grid div p {
        font-size: 30px;
    }

    .featured-work-card {
        width: 85vw;
        display: flex;
        height: 240px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        position: relative;
        transition: 150ms ease;
        border-radius: 20px;
      }
    
      .featured-work-image {
        position: relative;
        width: 50%;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }

    .featured-work-card * {
        transition: 150ms ease;
    }

    .featured-work-card:hover {
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
        scale: 1.005;
      }
    
      .featured-work-card:hover .featured-work-image {
        filter: none;
        -webkit-filter: none;
      }
    
      .featured-work-image img {
        height: 100%;
      }
    
      .featured-work-content {
        width: 50%;
        position: relative;
        top: 0;
        height: fit-content;
      }
    
      .featured-work-heading {
        font-size: 24px;
        margin: 5px 0;
      }
    
      .featured-work-subheading {
        font-size: 14px;
      }
    
      .featured-work-text {
        font-size: 14px;
      }
    
      .featured-work-button {
        bottom: -25px;
        right: 20px;
        position: absolute;
        padding: 10px 25px;
        font-size: 14px;
      }

      #course-info-con img {
        width: 75vw;
    }

      .course-text {
        font-size: 16px;
        width: 75vw;
    }

    #course-button {
        font-size: 22px;
        padding: 15px 50px;
        margin-bottom: 50px;
    }

    .arrow {
        display: none;
    }

    #testimonial-next-btn {
        display: block;
    }

    #testimonial-prev-btn {
        display: block;
    }

    .event-card {
        display: block !important;
        min-width: 220px;
        width: 20vw;
        height: 320px;
        background-color: white;
        transition: 150ms ease;
    }

    #event-card-wrapper {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .event-card img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    .event-number {
        font-size: 60px;
        margin-left: 0;
        margin-right: 10px;
    }

    .event-heading {
        font-size: 16px;
    }
    
    .event-text {
        display: none;
    }

    .event-time {
        display: none;
    }

    .event-card-con {
        top: 70%;
        bottom: 0;
        display: flex;
        justify-content: center;
    }

    .event-card * {
        transition: 150ms ease;
    }

    .event-card:hover .event-card-con {
        top: 45%;
        display: block;
    }

    .event-card:hover .event-heading-con {
        margin-top: -5px;
    }

    .event-card:hover .event-text {
        margin-top: 5px;
        font-size: 12px;
        display: block;
    }

    .event-card:hover .event-time {
        font-size: 16px;
        display: block;
    }

    .event-card:hover {
        background-color: #1D1D1D;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
        scale: 1.05;
    }

    .event-card:hover img {
        background-color: #1D1D1D;
        -webkit-filter: none;
        filter: none;
    }
    
    #finalists-wrapper {
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: center;
    }

    #honour-wrapper {
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: center;
    }

    .project-card {
        display: block !important;
        min-width: 220px;
        width: 20vw;
        height: 320px;
        margin: 75px 0 75px 0;
        background-color: white;
        transition: 150ms ease;
    }

    .project-card img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    .project-placement {
        font-size: 16px;
        padding: 10px;
        background-color: #1D1D1D;
        color: #CE3226;
    }

    .project-names {
        font-size: 15px;
        top: 53%;
        color: #1D1D1D;
        background-color: white;
    }

    .project-card * {
        transition: 150ms ease;
    }

    .project-card:hover {
        background-color: #1D1D1D;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
        scale: 1.005;
    }

    .project-card:hover img {
        background-color: #1D1D1D;
        -webkit-filter: none;
        filter: none;
    }

    .project-card:hover .project-placement {
        background-color: #BC2519;
        color: white;
    }

    .project-card:hover .project-names {
        background-color: #1D1D1D;
        color: white;
    }
    
    #event-info-con {
        justify-content: left;
        margin: 50px 0 80px 0;
    }

    #trophy-logo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-top: 0;
        padding-right: 30px;
    }
    
    #event-info-heading h3 {
        text-align: left;
        width: 100%;
        margin: 0;
        font-size: 40px;
    }
    
    #event-info-text p {
        font-size: 14px;
        text-align: left;
        margin: 0;
        margin-top: 10px;
    }
    
    #event-info-text {
        position: relative;
    }

    #address {
        width: 70%;
        font-size: 13px;
        margin: 0;
        margin-top: 15px;
    }
    
    #event-map {
        margin: 0px;
    }
    
    #event-map span {
        display: none;
    }
    
    #event-info-right {
        margin-right: 30px;
    }

    #map-marker {
        height: 27px;
        position: absolute;
        bottom: 2%;
        right: 5%;
    }

    #mobile-break {
        display: none;
    }

    #hero-text {
        margin: 0 0 50px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    #hero-con {
        width: 100%;
    }

    #hero-title h3 {
        font-size: 25px;
    }
    
    #hero-title span {
        font-size: 50px;
    }

    #hero-logo {
        transform: scale(1.2);
    }

    #project-text h4 {
        margin-top: 50px;
    }

    #project-text p {
        font-size: 16px;
    }

    .goals-con div {
        font-size: 20px;
    }

    #goals-button {
        margin: 20px auto 40px auto;
    }

}

@media screen and (min-width: 1200px) {


    #student-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    #developer-grid div {
        margin-top: 60px;
        width: auto;
    }

    #right-banner img {
        display: block;
        margin-left: 15px;
        fill: white;
        height: 15px;
    }

    #right-banner p {
        margin-right: 70px;
    }

    #right-banner {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #hero-text {
        line-height: 1.2;
        font-size: 30px;
    }

    #hero-title h3 {
        font-size: 40px;
    }
    
    #hero-title span {
        font-size: 75px;
    }

    #hero-logo {
        transform: scale(1.1);
    }

    #scroll-text {
        font-size: 20px;
    }

    .full-menu-item {
        font-size: 20px;
    }

    #full-menu {
        right: 50px;
    }

    #event-info-con {
        margin-top: 80px;
    }
    
    #event-info-text p {
        font-size: 18px;
        line-height: 1.2;
    }
    
    #event-info-right {
        margin-right: 30px;
    }

    #map-marker {
        height: 35px;
        position: absolute;
        bottom: 2%;
        right: 10%;
    }

    .event-card {
        display: block !important;
        margin-top: 40px;
        min-width: 275px;
        height: 432px;
    }
    
    .event-number {
        font-size: 60px;
    }

    .event-heading {
        font-size: 20px;
    }

    .event-card:hover .event-card-con {
        top: 55%;
    }

    .event-card:hover .event-text {
        font-size: 16px;
    }

    .event-card:hover .event-time {
        font-size: 20px;
    }

    .event-stats {
        margin-right: 70px;
    }

    .event-stats:first-of-type {
        margin-left: 70px;
    }

    .stats-text {
        font-size: 20px;
    }

    .stats-number {
        font-size: 80px;
        margin-right: 30px;
    }

    .section-headings {
        font-size: 65px;
    }

    .section-subheadings {
        font-size: 25px;
    }

    .project-card {
        min-width: 295px;
        height: 445px;
        margin: 75px 0 75px 0;
    }

    .project-placement {
        font-size: 23px;
        padding: 20px;

    }

    .project-names {
        font-size: 18px;
        top: 57%;
        line-height: 1.3;

    }

    #project-text {
        width: 90%;
        margin: 0;
    }

    #project-wrapper p {
        font-size: 18px;
    }
    
    #project-goals {
        width: 100%;
        margin: 0;
    }

    #project-photo {
        width: 90%;
        height: 363px;
    }

    #project-wrapper {
        width: 95%;
    }

    #project-goals h4 {
        margin: 50px 0 40px 0;
    }

    #project-text h4 {
        margin: 50px 0 40px 0;
    }

    .main-buttons {
        font-size: 22px;
        padding: 15px 60px;
        margin-top: 60px;
    }

    #project-heading h4 {
        font-size: 35px;
    }

    #course-info-con img {
        width: 100%;
        margin-top: 45px;
        border-radius: 25px;
    }

    #course-text-con {
        margin-top: 40px;
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .course-text {
        font-size: 17px;
        width: 100%;
        margin-left: 30px;
        margin-top: 10px;
        line-height: 1.3;
    }

    #course-button {
        margin: 20px -30px 50px auto;
    }

    .featured-work-card {
        height: 350px;
    }
    
      .featured-work-heading {
        font-size: 30px;
        margin-top: 20px;
      }
    
      .featured-work-subheading {
        font-size: 20px;
      }
    
      .featured-work-text {
        font-size: 20px;
        width: 85%;
      }
    
      .featured-work-button {
        bottom: -40px;
        right: 30px;
        padding: 15px 40px;
        font-size: 22px;
    }

    #footer img {
        width: 20%;
    }
     
    #footer p {
        font-size: 18px;
    }

    #thankyou-wrapper {
        margin-top: 150px;
        margin-bottom: -150px;
    }
    
    #trophy-logo-stand {
        transform: scale(1.1);
        margin-top: 0;
    }
    
    #social-media p {
        font-size: 30px;
    }
    
    #sm-icons {
        gap: 40px;
        margin: 50px 0;
    }
    
    #sm-icons a img {
        height: 25px;
    }

    #thankyou-fanshawe {
        margin-top: 0px;
    }
    
    #thankyou-fanshawe h3 {
        font-size: 40px;
        margin-top: -20px;
    }
    
    #thankyou-fanshawe span {
        font-size: 75px;
    }

}

@media screen and (min-width: 1920px) {


}