/* 
    CSS Guide 

    1.  GENERAL STYLES

    2.  HEADER

    3.  SECTION 1 - Event
        3a. Hero Banner
        3b. Intro Video
        3c. Event Info

    4.  SECTION 2 - Course
        4a. Project Exhibit
        4b. Testimonials
        4c. Course Info
    
    5.  SECTION 3 - Student
        5a. Featured Work
        5b. Developer Portfolios?
        5c. Student Portfolios

    6.  FOOTER
*/

/* 1. GENERAL STYLES */

/* Thin (100) */
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Thin.otf') format('opentype'),
         url('../fonts/Metropolis-Thin.woff') format('woff'),
         url('../fonts/Metropolis-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

/* Regular (400) */
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Regular.otf') format('opentype'),
         url('../fonts/Metropolis-Regular.woff') format('woff'),
         url('../fonts/Metropolis-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* Medium (500) */
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Medium.otf') format('opentype'),
         url('../fonts/Metropolis-Medium.woff') format('woff'),
         url('../fonts/Metropolis-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

/* SemiBold (600) */
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-SemiBold.otf') format('opentype'),
         url('../fonts/Metropolis-SemiBold.woff') format('woff'),
         url('../fonts/Metropolis-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

/* Bold (700) */
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Bold.otf') format('opentype'),
         url('../fonts/Metropolis-Bold.woff') format('woff'),
         url('../fonts/Metropolis-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* Extra Bold (800) */
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-ExtraBold.otf') format('opentype'),
         url('../fonts/Metropolis-ExtraBold.woff') format('woff'),
         url('../fonts/Metropolis-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

/* Black (900) */
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Black.otf') format('opentype'),
         url('../fonts/Metropolis-Black.woff') format('woff'),
         url('../fonts/Metropolis-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

.hidden {
    display: none;
}

img, embed, object, video, picture {
    max-width: 100%; 
}
  
html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box; 
}

*, *::before, *::after {
    box-sizing: inherit;
}
  
/* body, p, h1, h2, h3, h4, h5 {
    margin: 0px; 
    padding: 0px;
} */

body {
    font-family: 'Metropolis', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

.box {
    background-color: rgb(3, 53, 0);
    color: white;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom:10px;
}

body .box:not(header .box):not(footer .box) {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 2. HEADER */

#banner {
    background-color: #B5262D;
    color: white;
    font-size: 10px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    box-sizing: border-box;
}

#banner-contact {
    background-color: white;
    color: #B5262D;
    border: none;
    font-size: 10px;
    font-weight: 800;
    border-radius: 35px;
    padding: 4px 13px;
}

#right-banner img, #right-banner p {
    display: none;
}


/* 3. SECTION 1 - Event */

/* 3a. Hero Banner */

#hero-banner {
    background-image: url("../images/grey-background.png");
    background-size: cover;
    background-position: 25% 75%;
}

#hero-con {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#hero-con img {
    width: 280px;
    opacity: 0.7;
}

#hero-title {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hero-title h3 {
    font-weight: 900;
    letter-spacing: 3px;
    color: black;
    font-size: 20px;
    text-align: center;
}

#hero-title span:first-of-type {
    margin-top: 5px;
    display: block;
}

#hero-title span {
    color: #B5262D;
    font-size: 35px;
}

#hero-text {
    text-align: center;
    color: black;
    font-size: 25px;
    font-weight: 700;
    margin-top: -125px;
}

#hero-text span {
    color: #B5262D;
}

/* 3b. Intro Video */

#event-video {
    display: flex;
    justify-content: center;
}

#event-video video{
    width: 90vw;
    margin: 0 auto;
    margin-top: 10px;
}

/* 4. SECTION 2 - Course */

/* 4b. Testimonials */

#testimonial-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.testimonial-card {
    width: 40vw;
    color: white;
    background-color: #B5262D;
    margin: 20px;
    border-radius: 10px;
    padding: 30px 0px 20px 40px;
}

.testimonial-image {
    width: 5vw;
    margin-left: -5px;
}

.testimonial-name {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 0px;
}

.testimonial-job {
    font-size: 14px;
    margin-top: 5px;
}

.testimonial-text {
    margin-top: 20px;
    font-size: 12px;
}

/* 5. SECTION 3 - Student */

/* 5c. Student Portfolios */

#student-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

#student-grid div {
    display: flex;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 53, 0);
    border-radius: 12px;
}

#student-grid div p {
    margin: 0 0 10px;
    font-size: 18px;
    color: white;
}

#student-grid div a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {

    #student-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    #right-banner img{
        padding: 0px 10px;
        height: 15px;
    }
    
    #right-banner p {
        padding-right: 50px;
    }
    
}

@media screen and (min-width: 1200px) {

    #student-grid {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (min-width: 1920px) {

    #student-grid {
        grid-template-columns: repeat(4, 1fr);
    }

}