/* 
    CSS Guide 

    1.  GENERAL STYLES

    2.  HEADER

    3.  HOME PAGE
    3a. Hero Banner
    3b. Intro Video
    3c. Event Info
    3d. Featured Work
    3e. Testimonials
    3f. Program Info
    3g. Student Portfolios
    3h. Bottom Banner

    4.  FOOTER
*/

/* 1. GENERAL STYLES */

.hidden {
    display: none;
}

img, embed, object, video, picture {
    max-width: 100%; 
}
  
html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box; 
}

*, *::before, *::after {
    box-sizing: inherit;
}
  
/* body, p, h1, h2, h3, h4, h5 {
    margin: 0px; 
    padding: 0px;
} */

body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

.box {
    background-color: rgb(3, 53, 0);
    color: white;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom:10px;
}

body .box:not(header .box):not(footer .box) {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 2. HEADER */

#banner {
    background-color: #E2231A;
    color: white;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

#left-banner, #right-banner {
    display: flex;
    align-items: center;
}

#right-banner img{
    padding: 0px 10px;
    height: 10px;
}

#right-banner p {
    padding-right: 50px;
}

#logo, #nav {
    margin-top: 50px;
}

/* 3. HOME PAGE */

/* 3b. Intro Video */

#event-video {
    display: flex;
    justify-content: center;
}

#event-video video{
    width: 75vw;
    margin: 0 auto;
}

/* 3g. Student Portfolios */

#student-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

#student-grid div {
    display: flex;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 53, 0);
    border-radius: 12px;
}

#student-grid div p {
    margin: 0 0 10px;
    font-size: 18px;
    color: white;
}

#student-grid div a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {

    #student-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (min-width: 1200px) {

    #student-grid {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (min-width: 1920px) {

    #student-grid {
        grid-template-columns: repeat(4, 1fr);
    }

}